# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

* Popular languages used by data scientists
* commonly used libraries
* Arithmetic expressions in python
* Conversion of minutes to hours

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. Numpy
4. Seaborn
5. Plotly

| Data Science Tools|
|:-------------------:|
| Jupyter Notebook |
| RStudio |
| Visual Studio Code |



### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
 #This a simple arithmetic expression to mutiply then add integers
(3*4) + 5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60

print(f"{minutes} minutes is equal to {hours} hours")

200 minutes is equal to 3.3333333333333335 hours

## Author
Abdul-Azeez Abu